<div>
    <a href="https://twitter.com/?lang=es"><img src="../../../assets/twitter.png" alt=""></a>
    <a href="https://www.facebook.com/"><img src="../../../assets/facebookcolor.png" alt=""></a>
    <a href="https://www.instagram.com/marilu.villamil/?igshid=ZDdkNTZiNTM%3D"><img src="../../../assets/instagramcolor.png" alt=""></a>
    <a href="https://github.com/mariluvw"><img src="../../../assets/githubnegro.png" alt=""></a>
    <button type="button" class="btn btn-outline-light"(click)="login()" *ngIf="!isLogged">INGRESO</button>
    <button type="button" class="btn btn-outline-light"(click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>

</div>

