
<section class="vh-100" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="../../../../assets/proyectos.jpg"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">




<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">

                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Agregue un nuevo proyecto</h5>
                <div class="form-group">
                    <label for="nombreP" style="letter-spacing: 1px;">Nombre del Proyecto</label>
                    <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="nombreP" name="nombreP" required>
                </div>
                <div class="form-group">
                    <label for="descripcionP" style="letter-spacing: 1px;">Descripción</label>
                    <input type="text" class="form-control" id="descripcionP" name="descripcionP" [(ngModel)]="descripcionP" name="descripcionP" required>
                </div>
                <button class="btn btn-primary"> 
                    Añadir
                </button>
            </form>
        </div>
    </div>
</div>