<div class="row" id="todo">
<div>
    <div class="col">
    <img src="../../../assets/fotomia.jpeg" class="img-fluid" id="fotodeperfil">

    <div class="col"></div>


    <div class="col">
        <h1 id="nombre">María Luz Villamil</h1>
    <div><h5><p id="fullsd">Full Stack Developer Jr</p></h5></div>
    </div>

    <div class="col"> 
        <span>
            <div><h2 id="sobremi">Sobre mí</h2></div>
            <p id="descrip">Tengo 20 años, nací en la ciudad de Córdoba. Actualmente, estoy en mi 3er año de Traductorado Público de Ingles en la Universidad Nacional de Córdoba.
                Me considero proactiva, honesta y puedo lograr adaptarme a nuevos entornos. Comencé a desarrollar mis habilidades de programación en el año 2020 </p>
        </span></div>
</div>

</div>
</div>


