<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="" class="img-fluid" id="fotodeperfil"></div>
<div class="col-xs-12 col col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
<p>Full Stack Developer Jr</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8"> 
    <span>
        <h1>Sobre mí</h1>
        <p>Tengo 20 años, nací en la ciudad de Córdoba. Actualmente estoy estudiando Traductorado de Ingles en la UNC. Me considero proactiva, honesta y puedo lograr adaptarme a nuevos entornos. </p>
    </span>

</div>
</div>
