.row{
    padding: 20px;
}
div{
    background-color: #a1b5cb;
    text-align: center;
    @media screen {min-width: 576px;
        
    }
}


#nombre{
    font-weight: bold;
    margin-top: 30%;
}
   


