<div class="row">
    <h1>Educacion</h1>
    <div>
        <button type="button" class="btn btn-light" routerLink="/nuevaedu" *ngIf="isLogged">
            Agregar Educacion
        </button>
    </div>
    
    <table class="table">
        <tbody>
            <tr *ngFor="let Educacion of educacion">
                <td>{{Educacion.nombreE}}</td>
                <td>{{Educacion.descripcionE}}</td>

                <td *ngIf="isLogged">
                    <button class="btn btn-secondary" routerLink="/editedu/{{Educacion.id}}">               
                     <i class="bi bi-pencil-square"></i>Editar</button></td>

                <td *ngIf="isLogged">
                    <button class="btn btn-danger" (click)="delete(Educacion.id)">               
                     <i class="bi bi-pencil-square"></i>Borrar</button></td>
            </tr>
        </tbody>

    </table>

</div>