<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
     <ul>
        <li>
            <h1>Primaria</h1> - <h3>(years)</h3>
        </li>
        <p>descripcion de lo q hice</p>
     </ul>
     <ul>
        <li>
            <h1>Secundaria</h1> - <h3>(years)</h3>
        </li>
        <p>descripcion de lo q hice</p>
     </ul>
     <ul>
        <li>
            <h1>Universidad</h1> - <h3>(years)</h3>
        </li>
        <p>descripcion de lo q hice</p>
     </ul>